.typewriter {
    white-space: pre;
    font-family: typewriter, monospace;
    max-width: 8.5in;
    padding: 0 2.5rem 0.5rem 2.5rem;
    font-size: 12pt;
    background-image: url(image/paper.png);
}

@font-face {
    font-family: typewriter;
    font-style: normal;
    font-weight: 400;
    src: url("font/JMH Typewriter-Black.otf");
}
